<p>
  google-document-picker works!
</p>

<div id='result'>

</div>
<button (click)="googleLogin($event)">Google Login</button>
<button (click)="googleLogout($event)">Google Logout</button>
<button (click)="loadPicker()">Picker</button>
<button (click)="getFiles()">Get Files</button>
<button (click)="clearFiles()">Clear Files</button>
<button (click)="addFile()">Add File</button>

<div class='file-table-wrapper'>
<table class="file-table">
  <thead>
    <th class="column-head">Type</th>
    <th class="column-head">Name</th>
    <th class="column-head"></th>
    <th class="column-head"></th>
  </thead>
  <tbody>
    <tr class="file-table-row" *ngFor="let item of files">
      <td>{{ item.mimeType }}</td>
      <td><a (click)=fileClick(item)>{{ item.name }}</a></td>
    </tr>
  </tbody>
</table>
</div>