.input-box {
    height: 300px;
    width: 45%;
    margin: 10px;
}
.button-container {
    position: absolute;
    left: 45%;
}
.translate-from-list-container {
    position: relative;
    left: 0%;
    margin: 10px;
}
.translate-to-list-container {
    position: relative;
    left: 45%;
    margin: 10px;
}
.select-wrapper {

}